name: Infrastructure Deployment

on:
  push:
    branches: [ "main" ]
    paths:
      - 'infra/**'

  workflow_dispatch:
      inputs:
        reason:
          description: 'Razón del despliegue manual'
          required: false
          default: 'Mantenimiento manual'


permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Terraform settings
    runs-on: ubuntu-latest
    env:
      # Credenciales de Conexión (OIDC)
      ARM_CLIENT_ID:          ${{ secrets.AZURE_AD_CLIENT_ID }}
      ARM_SUBSCRIPTION_ID:    ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID:          ${{ secrets.AZURE_AD_TENANT_ID }}
      ARM_USE_OIDC:           true

      # Variables de Infraestructura (Públicas)
      TF_VAR_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      TF_VAR_resource_group_name: "rg-ms-cqrs"
      TF_VAR_location:           "eastus2"
      TF_VAR_admin_user_sqlserver: "usermicro"
      TF_VAR_db_name_sqlserver:    "dbmicro"
      TF_VAR_server_name_sqlserver: "svmicro25sql"
      
      # Variables de Infraestructura (Secretas - Debes crearlas en GitHub Secrets)
      TF_VAR_portal_id:               ${{ secrets.AZURE_PORTAL_ID }}
      TF_VAR_admin_password_sqlserver: "Cursosmicro2025#!"
      
      # Datos del Backend (TF State)
      TF_VAR_tfstate_rg_name:        "rg-terraform-state"
      TF_VAR_tfstate_stg_name:       "stcorebankstate01"
      TF_VAR_tfstate_container_name: "tfstate"
      TF_VAR_tfstate_key:            "terraform.tfstate"

    steps:
    - name: Check out the repo
      uses: actions/checkout@v4
      
    - name: Azure login (OIDC)
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_AD_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_AD_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.7.0" 

    - name: Terraform init
      run: |
        terraform init \
          -backend-config="resource_group_name=$TF_VAR_tfstate_rg_name" \
          -backend-config="storage_account_name=$TF_VAR_tfstate_stg_name" \
          -backend-config="container_name=$TF_VAR_tfstate_container_name" \
          -backend-config="key=$TF_VAR_tfstate_key" \
          -backend-config="subscription_id=${{ secrets.AZURE_SUBSCRIPTION_ID }}" \
          -backend-config="tenant_id=${{ secrets.AZURE_AD_TENANT_ID }}" \
          -backend-config="client_id=${{ secrets.AZURE_AD_CLIENT_ID }}" \
          -backend-config="use_oidc=true"
      env:
        ARM_USE_OIDC: true # Forzamos el uso de OIDC en este paso específico
      working-directory: ./infra

    - name: Terraform validate
      run: terraform validate
      working-directory: ./infra

    - name: Terraform plan
      run: terraform plan -out=plan.out
      working-directory: ./infra

    - name: Terraform apply
      # IMPORTANTE: Usar el archivo plan.out generado anteriormente
      run: terraform apply -auto-approve plan.out
      working-directory: ./infra